# PHP
/vendor/
/composer.lock
*.log
*.cache
*.env
.env.*

# Composer
composer.lock

# Docker
**/docker-compose.override.yml
**/docker-compose.*.yml
**/Dockerfile*

# OS files
.DS_Store
Thumbs.db

# Replit
.replit
replit.nix

# IDE
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*