/* Doctor Side CSS */
/* Admin Side CSS */

.chevron-icon {
    transition: transform 0.3s ease;
}

.main {
    margin-left: 260px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.main.shifted {
    margin-left: 80px;
}

.rotate {
    transform: rotate(180deg);
}

.sidebar.closed .toggle-btn .no-wrap span {
    display: none !important;
}

.sidebar.closed a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sidebar.closed .logo img {
    width: 50px;
    height: 48px;
}

.sidebar.closed .logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.sidebar h4 {
    margin: 0;
    font-weight: bold;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar.closed a span {
    display: none;
}

.submenu {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

.submenu-link {
    display: block;
    padding: 8px 20px;
    color: white;
    font-size: 0.95rem;
    border-radius: 6px;
    margin: 4px 0;
    text-decoration: none;
    transition: background 0.3s;
}

.submenu-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    color: white !important;
}

.toggle-btn {
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-btn {
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar.closed .toggle-btn .chevron-icon {
    display: none;
}

.sidebar.closed {
    width: 80px;
    padding: 20px 10px;
    opacity: 1;
    overflow: hidden;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.sidebar.closed i {
    font-size: 1.4rem;
    margin: 0;
}

.sidebar {
    width: 260px;
    height: 100vh;
    background: linear-gradient(to bottom, #191654, rgb(67, 130, 198));
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    padding-bottom: 40px;
    transition: width 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.sidebar-item {
    margin-top: 10px;
}

.sidebar-item .toggle-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #f5f5f5 !important;
}

.sidebar.closed .toggle-btn {
    justify-content: center;
}

.sidebar.closed .submenu {
    max-height: 0 !important;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: white !important;
}